<?xml version="1.0"?>
<appSettings>
  <add key="MongoDbConnectionString" value="mongodb://hasangedik:5ieRT7L86asvtoav@testapps-shard-00-00-ucayp.mongodb.net:27017,testapps-shard-00-01-ucayp.mongodb.net:27017,testapps-shard-00-02-ucayp.mongodb.net:27017/AuditLog?ssl=true&amp;replicaSet=TestApps-shard-0&amp;authSource=admin"/>
</appSettings>